@media screen and (max-width: 480px) {
  .erro {
    background-color: rgb(251, 223, 223);
    border: 2px solid red;
    border-radius: 30PX;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  input,
  button {
    margin: 10px 0px;
  }

  .icone-perfil,
  .img-perfil {
    width: 50px;
  }


  header {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .carrinho {
    position: relative;
  }

  .carrinho img {
    width: 50px;
  }

  .carrinho figcaption {
    position: absolute;
    top: 5px;
    left: 10px;
    color: red;
    font-weight: bolder
  }

  /*                     GALERIA              */
  .galeria {
    /* margin: 0px auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    width: 100%;
  }

  .card {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    margin: 1px;
    width: 43vw;
    height: 530px;
    box-shadow: 5px 5px 5px 5px rgba(213, 217, 213, 0.861);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 180px 50px;

  }

  .card figure {
    width: 100%;
    margin: 0;

  }

  .card figure img {
    width: 200px;
    margin: 0px auto;
    border-radius: 8px 8px 0 0;
  }

  .card .botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .card div.detalhes {
    height: 50vw;
    display: grid;
    grid-auto-rows: 30% 30% 20%;
    align-items: center;

  }


  .card .comprar {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .card .favorito{
    color: red;
  }
  .card .favoritar{
    color: rgb(211, 205, 205);
  }

  /*                     GALERIA              */

  /* carrinho icones */
  .icon-cart {
    width: 20px;
  }
  .thumb-cart {
    width: 80px;
  }

  .qtde-cart {
    display: inline-block;
    width: 30px;
    text-align: center;
  }

  /* carrinho icones */
}